body{
    background-color:white;
}

h1.welcome-heading{
    text-align: center;
    text-shadow: 2px 2px 5px;
}

.img-landing{
    opacity: 0.6;
}

p.Intro-text{
    text-align: center;
    font-size:large;
}



.userDataListing{
    list-style-type: none;
}

.userDataListing > li {
    margin-bottom: 15px;
}

fieldset{
    background-color:aliceblue;
}


#userDataDisplay{
    font-size: large;
    color: rgb(50, 94, 6);
}